body {
    overflow: hidden;
    background-color: #1e1e1e;
  }
#grid-container {
    position: absolute;
    top: 0%;
    left: 0%;
    height:100%;
    width:100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-areas:
        "editor editor tokens tokens"
        "editor editor ast ast";
}

#editor {
    grid-area: editor;
}

#tokens {
    grid-area: tokens;
}

#ast {
    grid-area: ast;
}
.CodeMirror {
    border: 0px;
    height: 100%;
    width:100%;
}